.gdlr-datepicker{
    height: 40px !important;
}

#gdlr-night,
.gdlr-select-option,
#gdlr-room-number {
    height: 40px !important;
    border: 1px solid !important;
    width: 100% !important;
}

.gdlr-reservation-people-amount{
    justify-content: center;
    align-items: center !important;
    gap: 10px;
}

.gdlr-reservation-field-title {
    white-space: nowrap !important;
}

.gdlr-choose-room-content-wrapper {
    padding-left: 3.5% !important;
    display: flex;
    gap: 20px;
    justify-content: start;
}

.gdlr-reservation-room{
    border-color: #4a453f;
}

.gdlr-title-font{
    font-style: italic;
    font-size: 13px;
}

.gdlr-title-font-room{
    color: white;
    font-weight: bolder;
}

.gdlr-booking-process-bar{
    width: 70%;
}

.area-price{
    display: flex;
    justify-content: space-between;
}

.gdlr-room-content-custom{
    color: #abb8c3;
    font-size: 15px;
    word-break: break-all;
}

.choose-romm-content-image {
    width: 145%;
}
.choose-romm-content-image-img {
    height: 170px;
    width: 270px;
}

.gdlr-room-title-custom {
    font-size: 17px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #B0977B !important;
}

.gdlr-medium-room .gdlr-hotel-room-info {
    color: #ffffff;
}
.gdlr-medium-room .gdlr-hotel-room-info {
    border-color: #3a3a3a;
}
.gdlr-medium-room .gdlr-hotel-room-info {
    margin-bottom: 25px;
    margin-top: 25px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px;
}

.gdlr-room-content,
.dlr-booking-content-wrapper {
    padding-left: 50px !important;
    white-space: nowrap;
}

.gdlr-reservation-bar .gdlr-reservation-bar-date-form {
    padding-left: 10px !important;
}

.gdlr-reservation-bar .gdlr-reservation-field {
    margin-right: 10px !important;
}

.gdlr-datepicker-wrapper {
    margin: unset !important;
}